<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Start Lobby</title>
    <!-- Reference the CSS file from the static folder -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="start-container">
    <h1>Welcome to "MOTORD"</h1>
    <div class="button-container">
        <button type="button" id="createLobbyButton" class="create-lobby-btn">Create Lobby</button>
        <form action="{{ url_for('translation_help') }}" method="get">
            <button type="submit">Translation Help</button>
        </form>
    </div>
</div>

<!-- Load scripts at the end of body -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
